<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<div class="about container-fluid" id="about">
    <h1>About the Event</h1>
        <p>
          Join us in celebrating International Women's Day on Saturday, 7th March 2026! Our focus is on the experiences of gender minorities in Informatics and how we can make the field a more inclusive and welcoming space.
        </p>
        <p>
          The event features lightning talks, interactive workshops, and a panel discussion covering topics such as imposter syndrome and the environmental impact of technology. It’s a unique opportunity to learn, connect, and gain insights from inspiring speakers.
        </p>
        <p>
          The event will take place at the Informatics Forum, with refreshments provided throughout the day. We welcome and encourage people of all ages, backgrounds, and experience levels to join and be part of this empowering celebration.
        </p>
        <div class="about-buttons" style="display:flex; justify-content:center; margin-top:20px;">
            <div class="about-buttons" style="display:flex; justify-content:center; margin-top:20px; gap:40px;">
              <a href="#schedule" class="btn">View Schedule</a>
              <a href="#speakers" class="btn">Meet Our Speakers</a>
            </div>
        </div>
</div>
