<div id="speakers" class="speakers  container-fluid">

    <div class="wrapper">
    
    <h1>Speakers</h1>
    
    <p>We are delighted to welcome our keynote speaker, Fiona McNiell, a reader in Computing Education at the University of Edinburgh, with her main research interests being in the experience of computing education as well as automated data matching and integration. Fiona is also proactive in supporting women in CS and STEM, and general CS outreach.</p>

    <br>
    More speakers to be announced shortly...
    <ul>
        <!-- <li>Kate Ho: Hoppers Founder</li>
        <li>Stuart Anderson: Deputy Head of Informatics</li>
        <li>Laurie Burchell: Staff Pride Network</li>
        <li>Liita Cairney: Entrepreneurship Trainer</li>
        <li>Nicole Meng: PhD Student in Usable Security and Privacy</li> -->
    </ul>
    
    </div>

</div>
