<div id="speakers" class="speakers  container-fluid">

    <div class="wrapper">
    
    <h1>Speakers</h1>
    
    <p>We are delighted to welcome our keynote speaker, Fiona McNiell, a reader in Computing Education at the University of Edinburgh. With her main research interests in the experience of computing education and automated data matching and integration. Fiona is also proactive in supporting women in CS and STEM, and general CS outreach.</p>

    <br>
    We also have many other accomplished people offering their expertise through talks or speed networking sessions.
    <ul>
        <li>Dr Kate Smith: CEO of ProfessorMe</li>
        <li>Jessica Ciupa: PhD candidate in AI for Robotics</li>
        <li>Mohran Sridharan: Chair in Robot Systems at the University of Edinburgh</li>
        <li>Barbara Webb: Professor of Biorobotics</li>
        <li>More to be announced soon...</li>
    </ul>
    
    </div>

</div>
