---
---

$languid-lavender: #CEC7FF;
$indigo: #281973;
$light-cyan: #cbf1f7ff;
$lighter-cyan: rgb(223, 243, 246);
$lighter-purple: #AC9EFF;
$sunglow: #ffcb0eff;
$princeton-orange: #fd8835ff;
$light-grey: rgb(249, 249, 249);
$purple: #501973;

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Funnel+Display:wght@300..800&family=Orbitron:wght@400..900&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  background-color: #DAD4FF;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  display: grid;
  place-content: center;
  overflow-x: hidden;
}

p{
  font-size: 14pt;
}

.schedule, .about, .faq, .sponsors, .footer, .location, .speakers{
  width: 70vw;
  padding: 15vh 5vw;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 10px $lighter-purple;
  margin-top: 40px;
  margin-bottom: 30px;
  transition: box-shadow 0.3s;
  background-color: rgba(255,255,255,0.5);

  &:hover{
    box-shadow: 5px 5px 10px 10px $lighter-purple, 0px 0px 5px 10px $indigo;
  }
}

nav{
  z-index: 100;
  height: 70px;
  width: 100vw;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-areas: 'left logo right';
  justify-content: center;
  align-items: flex-start;
  color: $indigo;
  font-size: 15pt;
  transition: background-color 0.3s;
  .right, .left{
    height: inherit;
    display: flex;
    align-items: center;
  }
  .left{
    justify-content: flex-end;
    margin-right: 10px;
  }
  .right{
    margin-left: 10px;
  }

  a{
    text-decoration: none;
    color: $indigo;
    padding: 10px 20px;
    width: max-content;
    height: 70%;
    border-radius: 20px;
    &:hover{
      text-decoration: none;
      color: $indigo;
      background-color: $lighter-purple;
      transition: background-color 0.1s;
      // text-shadow: 1px 1px 0px #aaa;
    }
  }

  a.with-background{
    color: white;
    &:hover{
      text-decoration: none;
      color: $indigo;
      background-color: $lighter-purple;
      transition: background-color 0.1s;
    }
  }

  img{
    grid-area: logo;
    height: 90px;
    width: 90px;
    justify-self: center;
    border-radius: 50%;
  }

  @media (max-width: 555px) {
    font-size: 11pt;
    height: 50px;

    .right{
      margin: 0;
      margin-left: 6px;
    }

    a{
      padding: 3px 8px;
      align-self: center;
      height: 50%;
      font-size: 7pt;
      font-weight: 700;
    }

    img{
      height: 50px;
      width: 50px;
    }
  }
}

.winners{

  h1{
    text-align: center;
  }
  p{
    text-align: justify;
  }

  a{
    color: $indigo;
    height: 100%;
    font-weight: bold;
    padding: 1px;
  }

  a:hover{
    text-decoration: none;
    box-shadow: 0 0 0px 2px $sunglow;
    transition: box-shadow 100ms;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }


}

.about{

  h1{
    text-align: center;
  }
  p{
    text-align: justify;
  }

  a{
    color: $indigo;
    height: 100%;
    font-weight: bold;
    padding: 1px;
  }

  a:hover{
    text-decoration: none;
    box-shadow: 0 0 0px 2px $lighter-purple;
    transition: box-shadow 100ms;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }


}

.hero-section{
  height: 100vh;
  margin: 0;
  padding: 10vh 6vw;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;

  h1{
    font-size: 40pt;
  }

  img {
    width: 40vw;
    max-width: 500px;
    min-width: 220px;
    height: auto;
  }

  a{
    border: none; 
    background-color: $indigo;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    transition: border-radius 0.2s;
    &:hover{
      border-radius: 20px;
      transition: border-radius 0.2s;
    
    }

    a:not([href]){
      color: white;
    }
  }

  .background-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    place-content: center;
    align-items: center;
  }

  .text-wrapper{
    display: flex;
    flex-direction: column;
  }

  .reg-buttons{
    display: flex;
    place-content: center;
    outline: none;
  }

  .reg-buttons::selection{
    outline: none;
  }
  @media (max-width: 700px) {
    padding: 6vh 5vw;
    .background-wrapper{
      display: grid;
      grid-template-columns: 1fr;
      place-content: center;
    }
    img{
      width: 300px;
      justify-self: center;
    }
  }
}

.schedule{
  text-align: center;
  .event{
    text-align: left;
  }

  .eventTitle{
    color: $purple;
  }

  hr{
    background-color: $indigo;
  }

  .row{
    padding: 5px 0;
    &:hover{
      background-color: rgba($lighter-purple, 0.5);
    }
  }

  .eventDate{
    background-color: $indigo;
    color:rgb(249, 249, 249);
    padding: 10px 0;
  }

  #time{
    text-align: right;
  }
  @media (max-width: 620px) {
    #time{
      text-align: left;
    }
  }
}

.faq{
  
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  h1{
    text-align: center;
  }
  .qanda{
    font-size: 4vw ;
    padding : 10px 0;
    display: grid;
    justify-content: start;
    h4,h5,h6{
      line-height:1cm;
    }
  }
 
  a{
    color: $indigo;
    height: 100%;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
  }

  a:hover{
    text-decoration: none;
    box-shadow: 0 0 0px 2px $lighter-purple;
    transition: box-shadow 100ms;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}



.footer{
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer .social {
  text-align:center;
  padding-bottom:25px;
}

.footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer .social > a:hover {
  opacity:0.9;
}

.footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;

  &::selection{
    background-color: $indigo;
    color: white;
  }
}

.footer i{
  color: $indigo;
}

.sponsors{
  text-align: center;
  display: grid;
  place-content: center;
}

.sponsors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2%;

  .sponsor {
    text-align: center;
    margin: 20px;
  }
  
  .sponsor-image-wrapper {
    margin: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .sponsor-image {
    // max-height: 60px;
    // width: auto;
    // min-width: 60px;
    // max-width: 500px;
  }

}

.location {

  wrapper {
      display: flex;
      flex-direction: column;
    }

    h1 {
      text-align: center;
    }
    
  
    @media (min-width: 769px) {
      .location {
        grid-template-columns: 1fr 1fr;
      }

      iframe{ margin: 20px; }

    }

        .location .map iframe {
    
          width: 100%;
          height: 50vh;
    
        }

    
    .float-left {
     float: left;
    }

    .directions{
      margin-top: 50px;
    }
    
    a {
      color: $indigo;
      height: 100%;
      font-weight: bold;
      padding-left: 2px;
      padding-right: 2px;
    }
    
    a:hover {
      text-decoration: none;
      box-shadow: 0 0 0px 2px $lighter-purple;
      transition: box-shadow 100ms;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
 
  .speakers {

    wrapper {
        display: flex;
        flex-direction: column;
      }
  
      h1 {
        text-align: center;
      }
      
    
      @media (min-width: 769px) {
        .location {
          grid-template-columns: 1fr 1fr;
        }
  
        iframe{ margin: 20px; }
  
      }
  
          .location .map iframe {
      
            width: 100%;
            height: 50vh;
      
          }
  
      
      .float-left {
       float: left;
      }
      
      a {
        color: $indigo;
        height: 100%;
        font-weight: bold;
        padding-left: 2px;
        padding-right: 2px;
      }
      
      a:hover {
        text-decoration: none;
        box-shadow: 0 0 0px 2px $lighter-purple;
        transition: box-shadow 100ms;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
